html{
  scroll-snap-type:  y mandatory;
}

.App {
  background-color: black;
  height: 100vh;
  display: grid;
  place-items: center;
}

.app__videos{
  height: 100vh;
  max-height: 800px;
  width: 80%;
  max-width: 500px;
  border: 1px solid black;
  border-radius: 20px;
  /*Comando abaixo fará com que não se exceda o tamanho da borda, scrollando o conteúdo*/
  overflow: scroll;
  scroll-snap-type:  y mandatory;
  position: relative;
}

/* Esconder os comando para cada navegador
    Esconde a scrollbar no chrome, safari e opera
*/
.app__videos::-webkit-scrollbar{
  display: none;
}

/* Esconder os comando para cada navegador
    Esconde a scrollbar no internet explorer, edge e firefox
*/
.app__videos::-webkit-scrollbar{
  -ms-overflow-style: none;
  scrollbar-width: none;
}



/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*/
